.btn {
  background-color: #189dd6;
  color: white;
  padding: 10px 30px;
  font-size: 15px;
  outline: none;
  border: 0;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn:active {
  transform: scale(0.98);
}

.btn:hover {
  background: #2bc5d9;
}